@model GeneralModel<SkillProfi.Project.Project>

@{
    ViewData["Title"] = "Projects";
}

<div id="project"">

    <div id="@Model.Object.Id">

        <div class="title">

            @Model.Object.Title

            <div class="image-block-title">
                <img src='@(Model.ImageLink)' onerror="this.src='/Assets/ImageError.png'">
            </div>
        </div>

        <div class="description">
            <a>@Model.Object.Description</a>
        </div>

    </div>

    <button class="button" style="float: right;" onclick="@("window.location.href='" + @Url.Action("Projects", "Projects") + "'");">
	    Назад
    </button>

</div>

