@model Blog

@{
    ViewData["Title"] = "Blogs";
}

<div id="blog" style="min-height: 520px;">

    <div id="@Model.Id">

        <div class="title">@Model.Title</div>

        <div>
            <div class="image-block-content">
                <img src='@(Model.PictureBytePresentation != null ? 
                            "data:image/png;base64," + Convert.ToBase64String(Model.PictureBytePresentation)  : 
                            "/Assets/ImageError.png" )'>
            </div>
            <div class="description">
                <a>@Model.Description</a>
            </div>
        </div>
    </div>

</div>

<button 
    class="button" style="float: right;" 
    onclick="@("window.location.href='" + @Url.Action("Blogs", "Blogs") + "'");">

    Назад

</button>
